<meta http-equiv="content-type" content="text/html; charset=utf-8">

<div style="text-align: center;">
  <h1>Chaves não Utilizadas</h1>
</div>

<hr />

<div style="text-align: center;">
  <h2>Aluguel</h2>
</div>

<% @rent_keys.flatten.each_slice(12) do |keys| %>
  <div class="col-sm-12">
    <div class="row">

      <% keys.each do |key| %>
        <div class="col-md-1">
          <div class="clearfix">
          <div>
            <p class="text-center">A<%= key %></p>
          </div>
          <i class="fa fa-key fa-3x fa-custom" aria-hidden="true" style="color: darkslateblue"></i>
          </div>
          <br>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

<div style="text-align: center;">
  <h2>Venda</h2>
</div>

<% @sale_keys.flatten.each_slice(12) do |keys| %>
    <div class="col-sm-12">
      <div class="row">

        <% keys.each do |key| %>
            <div class="col-md-1">
              <div class="clearfix">
                <div>
                  <p class="text-center">V<%= key %></p>
                </div>
                <i class="fa fa-key fa-3x fa-custom" aria-hidden="true" style="color: darkslateblue"></i>
              </div>
              <br>
            </div>
        <% end %>

      </div>
    </div>
<% end %>
