<div class='nested-fields'>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :code, collection: [''] %>
      </div>

      <div class="col-xs-5 col-sm-offset-1">
        <%= f.input :observation %>
      </div>
      </br>
      <div class="col-xs-1">
        <%= link_to_remove_association 'Remover chave', f, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>

<script>
  $('#building_source').change(function() {
    updateKeys($(this));
  });

  function updateKeys(e) {
    $.each($("[id^=building_keys_attributes_][id$=_code]"), function () {
      $(this).html('<option value=""></option>');
    });

    var url = '/update_keys?source=' + e.val();
    var listitems = [];

    $.get(url, function(data) {
      debugger;
      data.forEach(function(code){
        listitems += '<option value="' + code + '">' + code + '</option>';
      });

      $.each($("[id^=building_keys_attributes_][id$=_code]"), function () {
        $(this).append(listitems);
      });
    });
  }

  $.each($("[id^=building_keys_attributes_][id$=_code]"), function () {
    $(this).select2({
      theme: 'bootstrap'
    });
  });
</script>
