<% @keys.each_slice(16) do |keys| %>
    <div class="row">
      <% keys.each do |key| %>

        <div class="col-md-1">
            <div>
              <p class="text-center"><%= key.code %></p>
            </div>
            <div class="clearfix">
              <% if key.status == KeyStatus::AVAILABLE %>
                <i class="fa fa-key fa-3x" aria-hidden="true" style="color: green"></i>
              <% else %>
                <i class="fa fa-key fa-3x" aria-hidden="true" style="color: darkblue"></i>
              <% end %>
            </div>
            <p class="text-center"><%= link_to key.building.code, edit_building_path(key.building) %></p>
          </div>

      <% end %>
    </div>
<% end %>
