<div class='nested-fields'>
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <%= f.input :code %>
      </div>

      <div class="col-xs-5 col-sm-offset-1">
        <%= f.input :observation %>
      </div>
      </br>
      <div class="col-xs-1">
      <%= link_to_remove_association 'Remover chave', f, class: 'btn btn-danger' %>
      </div>
   </div>
  </div>
</div>
