<footer class="footer navbar-fixed-bottom">
  <div class="container">
    <p class="text-muted">
      <%= link_to '@lorenadgb', 'https://github.com/lorenadgb' %> - version <%= ::VERSION %>
    </p>
  </div>
</footer>
